@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  background: linear-gradient(to left bottom, $color-white, $color-primary-flash-white);
  font-size: 2rem;
}
