@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
}

body {
  background: linear-gradient(to left bottom, $color-lightBlue, $color-white);
}
