@import "./variables";
.app {
  height: 92vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 3rem 10rem;
  // justify-content: center;

  // border: 1px solid black;
}

.top {
  display: flex;
  flex-flow: row nowrap;
}

.middle {
  flex: 1 1;
}

.none {
  display: none;
}
