@import "./variables";
.explore {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem 2rem;
  &__search {
    display: flex;
    h4 {
      display: inline-block;
      flex: 1 1;
    }
    &--box {
      background: $color-primary-flash-white;
      display: flex;
      align-items: center;
      border: 1px solid rgba($color-primary-grey, 0.5);
      border-radius: 10px;
      padding: 0.5rem;
      input {
        border: none;
        background: transparent;
        &::placeholder {
          color: rgba($color-primary-grey, 0.5);
        }
        &:focus {
          outline: none;
          border: none;
        }
      }
    }
    .icon {
      width: 17px;
      height: 17px;
      fill: rgba($color-primary-grey, 0.5);
    }
  }
  &__feed {
    display: flex;
    .left {
      flex: 1 1 40%;
      // height: 100%;
      border-radius: 20px;
      background: $color-primary-super-light;
      padding: 1rem 2rem;
      h5 {
        font-size: 2rem;
        font-weight: 600;
      }
    }
    .right {
      flex: 1 1 60%;
      display: flex;
      flex-flow: column nowrap;
    }
  }
  &__suggestion {
  }
}
