@import "./variables";
.menu-btn {
  width: 100%;
  color: white;
  background: transparent;
  //   border: 1px solid white;
  border: none;
  padding: 0.8rem;
  border-radius: 50px;
  a,
  a:link,
  a:active,
  a:visited {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    color: currentColor;
    text-decoration: none;
  }
  &:hover {
    background: $color-primary-grey;
    cursor: pointer;
  }

  &__icon {
    height: 18px;
    width: 18px;
    fill: $color-white;
    // background: #000;
  }
}

.selected {
  background: $color-primary-grey;

  cursor: none;
}
