@import "./variables";
.navbar {
  display: flex;
  flex-flow: column nowrap;
  background: $color-primary-flash-white;
  height: 90vh;
  width: 20%;
  border-radius: 20px;
  padding: 1.3rem 0.7rem;
  .nav-item {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 2rem;
    justify-content: center;
    &:not(:last-child) {
      border-bottom: 1px solid $color-primary-dark;
      padding-bottom: 1.5rem;
    }
    .icon {
      fill: $color-primary-grey;
    }
  }

  .first {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .profile {
      position: relative;

      img {
        height: 17rem;
        width: 17rem;
        display: block;
        border-radius: 500px;
      }
      .icon {
        position: absolute;
        bottom: 0;
        right: 2rem;
        background: $color-primary-light;
        border-radius: 500px;
        fill: $color-white;
      }
    }
    .info {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;

      p {
        font-size: 1.4rem;
        text-align: center;
      }
    }
  }

  .line,
  .info__name {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }

  .line {
    &__icon {
      fill: $color-primary-dark;
    }
    p {
    }
  }
}
