@import "./variables";
.navbar {
  display: flex;
  flex-flow: column nowrap;
  background: $color-primary-flash-white;
  // height: 90vh;
  width: 20%;
  border-radius: 20px;
  padding: 1.3rem 0.7rem;
  .nav-item {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 2rem;
    justify-content: center;
    position: relative;
    &:not(:last-child) {
      border-bottom: 1px solid $color-primary-dark;
      padding-bottom: 1.5rem;
    }
    // .icon {
    //   fill: $color-primary-grey;
    // }
    .edit {
      position: absolute;
      top: 0;
      right: 0;
      fill: rgba($color-primary-grey, 0.5);
      cursor: pointer;
      z-index: 1;
      // background: #000;
      &:hover {
        fill: $color-primary-grey;
      }
    }
  }

  .first {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .profile {
      position: relative;
      img {
        height: 16rem;
        width: 16rem;
        display: block;
        border-radius: 500px;
      }
      .icon {
        position: absolute;
        bottom: 0;
        right: 2rem;
        background: $color-primary-light;
        border-radius: 500px;
        fill: $color-white;
      }
    }
    .info {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      padding: 1rem 0;
      &__name {
        text-transform: capitalize;
      }
      p {
        font-size: 1.4rem;
        text-transform: capitalize;
      }
    }
  }
  .line {
    position: relative;
    p,
    h4,
    input,
    textarea {
      padding: 0.1rem 0;
      font-size: 1.3rem;
      max-width: 75%;
      margin-left: 2.5rem;
      text-align: justify;
    }
    ul {
      list-style: none;
      text-transform: capitalize;
    }
    input,
    textarea {
      border: none;
      background: rgba($color-white, 0.7);
      border-radius: 4px;
      padding: 0.1rem 0.3rem;
      margin-top: 0;
      width: 100%;
    }
    form {
      display: flex;
    }
    &__icon {
      fill: $color-primary-dark;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .second,
  .first {
    .line {
      padding: 0.1rem 0;
    }
  }
  .forth {
    .line {
      padding: 0.3rem 0;
    }
  }
}

.skills {
  &__list {
    display: flex;
    flex-flow: column nowrap;
  }
}

.none {
  display: none;
}
