@import "./variables";
.navbar {
  display: flex;
  flex-flow: column nowrap;
  background: $color-primary-flash-white;
  height: 90vh;
  width: 25%;
  border-radius: 20px;
  padding: 1.3rem 0.7rem;
  .nav-item {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem;
    &:not(:first-child) {
      border-top: 1px solid $color-primary-dark;
    }
  }

  .first {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .profile {
      img {
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
