@import "./variables";

.quiz {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem 5rem;
  // border: 1px solid black;
  background: url("../img/minim/quizBack.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &__explanation {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    background: rgba($color-primary-super-light, 0.85);
    border-radius: 15px;
    padding: 2.5rem;
    ul {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      li {
        display: flex;
        align-items: center;
        gap: 2rem;
        p {
          padding: 0;
        }
      }
    }
    p {
      text-align: center;
      padding: 0 1.5rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 3rem;
    }
    .acc {
    }
    .nacc {
      transform: rotate(45deg);
    }
    .undone {
      animation: rotation 2.5s ease-in-out 0s infinite;
      animation-fill-mode: forwards;
    }
  }
  &__skills {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-box {
      // height: 90%;
      width: 23vw;
      border-radius: 15px;
      background: rgba($color-primary-super-light, 0.95);
      margin-right: 10rem;
      padding: 2.5rem 0;
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
      // align-items: center;
      .box__header {
        text-align: center;
        h4 {
          font-size: 2.8rem;
        }
      }
      .box__body {
        // align-self: center;
        list-style: none;
        padding: 0 5rem;
        flex: 1 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
          cursor: default;
          span {
            border: 1px solid $color-primary-grey;
            width: 100%;
            padding: 0.7rem 0;
            border-radius: 50px 0 0 50px;
            text-align: center;
            background: $color-white;
            text-transform: capitalize;
          }
          &:hover {
            span {
              background: rgba($color-primary-light, 0.2);
              // color: white;
            }
          }
        }
      }
      .box__footer {
        // align-self: center;
        display: flex;
        justify-content: center;
        button {
          text-transform: uppercase;
          width: 60%;
        }
      }
    }
  }
}
.selected {
  background: $color-primary-light !important;
  color: white !important;
  cursor: default;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; /* Ensure the modal is on top of everything else */
  backdrop-filter: blur(4px);
  &-content {
    width: 50%;
    // height: 50%;
    background: $color-primary-super-light;
    padding: 2.5rem 4rem;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .header {
      color: $color-primary-dark;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .time {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 600;
        user-select: none;
        .icon {
          fill: $color-primary-dark;
        }
      }
      .close {
        fill: $color-primary-dark;
        &:hover {
          fill: red;
          cursor: pointer;
        }
      }
    }
    .body {
      flex: 0 0 65%;
      .question {
        .count {
          color: $color-primary-light;
          span {
            color: $color-primary-dark;
            font-size: 4rem;
          }
        }
        .text {
          cursor: default;
          user-select: none;
          font-size: 2.5rem;
          background: $color-white;
          padding: 1rem 2rem;
          border-radius: 20px;
        }
      }
      .answers {
        user-select: none;
        margin: 1rem 0;
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
        list-style-position: inside;
        list-style-type: lower-alpha;
        li {
          font-size: 2.5rem;
          background: $color-white;
          padding: 1rem 2rem;
          border-radius: 20px;
          gap: 1rem;
          cursor: pointer;
          &:hover {
            background: rgba($color-primary-light, 0.5);
          }
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        width: 500px;
      }
      .icon {
        fill: $color-white;
      }
    }
    .bar-container {
      margin: 0.5rem 0;
      width: 100%;
      height: 8px;
      background-color: $color-white;
      border-radius: 5px;
      overflow: hidden;
    }

    .bar {
      height: 100%;
      background-color: $color-primary-light;
      transition: width 0.3s ease;
    }
  }
}

.quiz-mode {
  filter: blur(7px);
  pointer-events: none;
}
