@import "./variables";

.sign-up {
  display: block;
  height: 93vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    background: $color-primary-super-light;
    height: 80vh;
    width: 70%;
    border-radius: 10px;
    padding: 3rem 4rem;
    box-shadow: 0 0 20px rgba($color-primary-grey, 0.8);
    display: flex;
    form {
      padding: 1.5rem 3rem;
      flex: 1 1 25%;
      background: rgba(#fff, 0.5);
      box-shadow: 0 0 5px #fff;
      display: flex;
      flex-flow: column nowrap;
      color: $color-primary-dark;
      button {
        border: none;
        background: none;
      }
      div {
        padding: 1rem;
      }
      .header {
        h3 {
          letter-spacing: 1px;
          font-size: 2.7rem;
          padding-bottom: 0.5rem;
        }
        p {
          font-size: 1.6rem;
          word-spacing: 2px;
          input {
            color: $color-primary-light;
            text-decoration: underline;
            font-size: 1.7rem;
            cursor: pointer;
            border: 0;
          }
        }
      }
      .email,
      .pass {
        flex: 0 0 20%;
        display: flex;
        flex-flow: column nowrap;
        label {
          font-size: 1.5rem;
          font-weight: 600;
          padding-bottom: 0.5rem;
        }
        input {
          border: 1px solid $color-primary-dark;
          outline: none;
          //   height: 3rem;
          padding: 1rem;
          border-radius: 5px;
        }
      }
      .email {
        &__container {
          padding: 0;
          display: flex;
          width: 100%;
          border: 1px solid $color-primary-dark;
          outline: none;
          //   height: 3rem;
          // padding: 1rem;
          border-radius: 5px;
          padding-left: 0.3rem;
          #email {
            flex: 1 1;
          }
          .unavaialbe {
            text-align: center;
            padding: 0;
            cursor: not-allowed;
          }
          input {
            border: 0;
            border-radius: 0;
          }
        }
        padding-top: 1.5rem;
      }
      .show-pass {
        color: rgba($color-primary-light, 0.8);
        font-size: 1.4rem;
        cursor: pointer;
        text-align: right;
        &:hover {
          text-decoration: underline;
        }
      }

      .footer,
      .footer-foot {
        // padding: 1.5rem;
        button {
          border: 2px solid $color-primary-dark;
          display: block;
          width: 100%;
          padding: 1rem;
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: 0.3px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      .footer {
        button {
          padding: 1.2rem;
          background: rgba($color-primary-dark, 0.9);
          color: $color-white;
          letter-spacing: 1.4px;
        }
      }
      .footer-foot {
        :hover {
          background: rgba($color-primary-dark, 0.9);
          color: $color-primary-super-light;
        }
      }
      .footer-foot button {
        color: $color-primary-dark;
        display: flex;
        align-items: center;
        justify-content: space-around;
        word-spacing: 1.4px;

        img {
          height: 2.5rem;
          width: 2.5rem;
        }
        :hover {
          background: none;
        }
      }
      .footer-line {
        text-align: center;
      }
    }

    .minimal {
      display: block;
      transform: rotate(-25deg) translateY(2rem) scale(1.15);
    }
  }
}
.not-approved {
  border-color: rgb(202, 10, 10) !important;
}
.warn {
  color: rgb(202, 10, 10) !important;
}
