@import "./variables";
.sggs {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem 2rem;
  height: 93vh;
  // border: 1px solid black;
  &__feed {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    // background: #000;
    .card {
      height: 17rem;
      &:hover {
        // outline: 1px solid $color-primary-light;
        box-shadow: 0 0 5px $color-primary-light;
        transform: scale(1.03);
      }
    }
  }
  &__footer {
    align-self: center;
    button {
      width: 20rem;
      background: $color-primary-flash-white;
      color: #000;
      border: 1px solid $color-primary-grey;
      border-radius: 15px;
      display: flex;
      align-items: center;
      font-weight: 600;
      .icon {
        fill: #000;
        transform: rotate(90deg);
      }
      &:hover {
        color: $color-white;
        .icon {
          fill: #fff;
          transform: rotate(90deg);
        }
      }
    }
  }
}
